<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/icon/favicon.ico">
    <!-- Title Page-->
    <title>Panel Principal</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" th:href="@{index}">
                            <img th:src="@{/images/icon/logo-system.png}" alt="JacquisStore" />
                        </a>
                        <button title="#" class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" th:href="@{/index}">
                                <i class="fas fa-tachometer-alt"></i>Panel Principal</a>
                        </li>
                        <li>
                            <a href="empleados.html">
                                <i class="fas fa-sitemap"></i>Empleados</a>
                        </li>
                        <li>
                            <a th:href="@{/inventario}">
                                <i class="fas fa-archive"></i>Inventario</a>
                        </li>
                        <li>
                            <a href="ventas.html">
                                <i class="fas fa-shopping-cart"></i>Ventas</a>
                        </li>
                        <!-- -->
                        <li>
                            <a href="proveedores.html">
                                <i class="fas fa-truck"></i>Proveedores</a>
                        </li>

                        <!-- <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li> -->
                        <!-- <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a th:href="@{/index}">
                    <img th:src="@{/images/icon/sigejac.png}" alt="Jacqui's Store" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" th:href="@{/index}">
                                <i class="fas fa-tachometer-alt"></i>Panel Principal</a>
                        </li>
                        <li>
                            <a th:href="@{/empleados}">
                                <i class="fas fa-sitemap"></i>Empleados</a>
                        </li>
                        <li>
                            <a th:href="@{/inventario}">
                                <i class="fas fa-archive"></i>Inventario</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-shopping-cart"></i>Ventas</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="nuevaVenta.html">
                                        <i class="fas fa-plus-square"></i>Nueva venta</a>
                                </li>
                                <li>
                                    <a href="bitacora.html">
                                        <i class="fas fa-book"></i>Bitacora</a>
                                </li>
                            </ul>
                        </li>
                        <!-- -->
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-truck"></i>Proveedores</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a th:href="@{/proveedores}">
                                        <i class="fas fa-wrench"></i>Gestión de proveedores</a>
                                </li>
                                <li>
                                    <a th:href="@{/representantes}">
                                        <i class="fas fa-users"></i>Gestión de representante</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li> -->

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <!-- Buscar como programar -->
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="buscar"
                                    placeholder="Buscar datos &amp; reportes." />
                                <button title="Buscar" class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <!-- AQUI IBA EL MENSAJE -->

                                    <!-- AQUI IBA EL MENSAJE DE EMAIL -->
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">1</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>Tienes 3 nuevas notificaciones</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Quedan 5 unidades de blusas</p>
                                                    <span class="date">12 Abril, 2023 18:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Quedan 3 unidades de pantalones CASIO</p>
                                                    <span class="date">13 Abril, 2023 18:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Tienes 0 camisas Secret</p>
                                                    <span class="date">11 Abril, 2023 18:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">Mostrar todo</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <!-- Buscar como cargar imagen de usuario -->
                                            <img th:src="@{images/icon/Jaquis-r.png}" alt="image user" />
                                        </div>
                                        <div class="content">
                                            <!-- AQUI TENGO QUE SETEAR EL NOMBRE DEL USUARIO  -->
                                            <a class="js-acc-btn" href="#">Jacquis</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img th:src="@{images/icon/Jaquis-r.png}"
                                                            alt="Imagen de usuario" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <!-- usuario -->
                                                        <a href="#">Jacqui Díaz</a>
                                                    </h5>
                                                    <span class="email">jacquidiaz11@gmail.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Cuenta</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Configuración</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Facturación</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <span sec:authorize="isAuthenticated"><i class="zmdi zmdi-power"></i>
                                                    <a th:href="@{/logout}">
                                                        Cerrar Sesión
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid"> <!-- AQUI VA EL CONTENIDO DE LA PAGINA  -->
                        <div class="row"> <!-- zona de texto o botones  -->
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Inicio</h2>
                                    <button class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi zmdi-plus">&nbsp;</i> Agregar productos</button>
                                </div>
                            </div>
                        </div> <!-- fin de la zona de texto o botones  -->
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2>10</h2>
                                                <span>T. Empleados</span>
                                            </div>
                                        </div>
                                        <!-- <div class="overview-chart">
                            <canvas id="widgetChart1"></canvas>
                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2>68</h2>
                                                <span>Ventas por mes</span>
                                            </div>
                                        </div>
                                        <!-- <div class="overview-chart">
                            <canvas id="widgetChart2"></canvas>
                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2>20</h2>
                                                <span>Esta semana</span>
                                            </div>
                                        </div>
                                        <!-- <div class="overview-chart">
                            <canvas id="widgetChart3"></canvas>
                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2>$567</h2>
                                                <span>Ganancias totales</span>
                                            </div>
                                        </div>
                                        <!-- <div class="overview-chart">
                            <canvas id="widgetChart4"></canvas>
                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="title-1 m-b-25">Últimos productos agregados</h5>
                            <div class="table-responsive table--no-card m-b-20">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Foto</th>
                                            <th>Descripción</th>
                                            <th>Stock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr> <!-- th : each: ventas : $ { venta  -->
                                            <td> 1 </td> <!-- th: text = "${venta.id}" -->
                                            <td> img </td> <!-- th: text = "${venta.foto}" -->
                                            <td>Vestido azul talla S</td> <!-- th: text = "${venta.descripcion}" -->
                                            <td> 5 </td> <!-- th: text = "${venta.stock}" -->

                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>img</td>
                                            <td>Pantalon Kalua talla M</td>
                                            <td> 3 </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- SEGUNDA TABLA -->
                        <div class="col-lg-6">
                            <h5 class="title-1 m-b-25">Últimas ventas realizadas</h5>
                            <div class="table-responsive table--no-card m-b-20">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>No. Registro</th>
                                            <th>Empleado</th>
                                            <th>Fecha</th>
                                            <th>Total de venta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr> <!-- th : each: ventas : $ { venta  -->
                                            <td>00001</td> <!-- th: text = "${venta.id}" -->
                                            <td>Juan Perez</td> <!-- th: text = "${venta.foto}" -->
                                            <td>17/08/2023</td> <!-- th: text = "${venta.descripcion}" -->
                                            <td>$48.80</td> <!-- th: text = "${venta.stock}" -->

                                        </tr>
                                        <tr>
                                            <td>00002</td>
                                            <td>Carmen Diaz</td>
                                            <td>18/08/2023</td>
                                            <td>$37.60</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Aqui va todo el contenido -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2023 Jacqui's Store. Todos los derechos reservados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

    </div>

    <th:block th:replace="~{fragments/scripts :: scripts-main}"></th:block>
</body>

</html>
<!-- end document-->