<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="contenido" class="container-fluid">
        <!-- AQUI VA LA TABLA -->
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <!-- Pongo el breadcrumbs? -->
                <h3 class="title-5 m-b-25">Nuevo proveedor</h3>

                <!-- Formulario de registro de nuevo empleado -->
                <div class="card">
                    <div class="card-header">
                        <strong>Formulario</strong> de registro
                    </div>
                    <div class="card-body card-block">
                        <form th:action="@{/proveedores}" th:object="${proveedores}" method="POST">
                            <div class="form-group">
                                <label for="nombre" class=" form-control-label">Nombre</label>
                                <input type="text" th:field="*{nombre}" name="nombre" id="nombre"
                                    placeholder="Ingrese nombre del proveedor" class="form-control">
                                <!-- <input type="email" id="nf-email" name="nf-email" placeholder="Enter Email.." class="form-control"> -->
                                <!-- <span class="help-block">Please enter your email</span> -->
                            </div>
                            <div class="form-group">
                                <label for="direccion" class=" form-control-label">Dirección</label>
                                <input type="text" th:field="*{direccion}" name="direccion" id="direccion"
                                    placeholder="Ingrese la dirección" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="correo" class="form-control-label"> Correo electronico</label>
                                <input type="email" th:field="*{correo}" name="correo" id="correo"
                                    placeholder="Ingrese el correo electronico" class="form-control">
                            </div>

                            <!-- <div class="form-group">
                                <label for="telefono" class="form-control-label"> Telefono</label>
                                <input type="text" name="telefono" id="telefono" placeholder="Ingrese el telefono..."
                                    class="form-control">
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="estado" class="form-control-label">Estado</label>
                                <select name="estado" id="estado" class="form-control" th:field="*{estado_empleado}">
                                    <option value="0">Seleccione el estado...</option>
                                    <option value="ACTIVO">Activo</option>
                                    <option value="INACTIVO">Inactivo</option>
                                </select>
                            </div> -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Guardar
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm" onClick="history.go(-1);">
                                    <i class="fa fa-ban"></i> Cancelar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>